.bold {-fx-font-weight: bold}

.stacktrace {
	-fx-font-family: monospace;
	-fx-background-color: #FDD;
}




Button {
	-fx-text-fill: #000;
	-fx-background-color: #DDD;
	-fx-border-color: #DDD;
	-fx-border-style: solid;
	-fx-border-width: 0.2em;
	-fx-background-radius: 0;
	-fx-content-display: center;
	-fx-cursor: hand;
	/*add a little margin between buttons*/
	-fx-background-insets: 0.2em;
	-fx-border-insets: 0.2em;
	-fx-padding: 0.2em;
}
Button:hover {
	-fx-text-fill: #666;
}
Button:focused {
	-fx-border-color: #000;
}

Button:cancel {
	-fx-font-style: italic;
}

Button:default {
	-fx-background-color: #666;
	-fx-border-color: #666;
	-fx-font-weight: bold;
	-fx-text-fill: #FFF;
}
Button:default:focused {
	-fx-border-color: #000;
}
Button:default:hover {
	-fx-text-fill: #CCC;
}

Button.choice {
	-fx-background-insets: 0;
	-fx-border-insets: 0;
}

Button.chosen {
	-fx-background-color: #444;
	-fx-border-color: #444;
	-fx-text-fill: #DDD;
}
Button.chosen:focused {
	-fx-border-color: #000;
}

Button:disabled {
	-fx-cursor: wait;
	-fx-text-fill: #888;
}
Button:disabled Text { /*TODO if this doesn't work, true Button:disabled .text*/
	-fx-strikethrough: true;
}

Button.link {
	-fx-underline: true;
	-fx-text-fill: #000;
	/*Undo normal button styling.*/
	-fx-background-color: transparent;
	-fx-border-width: 0;
	-fx-background-insets: 0;
	-fx-border-insets: 0;
	-fx-padding: 0;
}
Button.link:hover {
	-fx-text-fill: #666;
}
Button.link:focused {
	-fx-text-fill: #00A;
}